body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Ubuntu", sans-serif;
    color: #000;
}

#scroll-image {
    position: relative;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/black_sand_beach.jpg");
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    background-color: #008;
    opacity: 0.5;
    color: #ffd700; /* gold */
    padding: 0 1rem 1rem 1rem;
    font-size: 5rem;
    font-family: "Pacifico";
    border-radius: 25px 0 25px 0;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
}
        
div#about {
    color: #111;
    background-color: #71EEB8; /* sea foam green */
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    position: relative;
}
div#about h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}
        
div#links {
    margin: 0; 
    padding: 0;
    display: flex;
    height: 450px;
    background-color: #fff;
}
div#links .tile {
    width: 20%;
    margin: 0; 
    padding: 0;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
div#links .tile p {
    margin: 50% 0; 
    padding: 0;
    color: #ddd;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    background-color: #111;
    opacity: 0.85;
}
div#links .tile:hover {
    opacity: 0.8;
}
div#links .tile-1 {
    background-image: url("images/tile-1.jpg");
}
div#links .tile-2 {
    background-image: url("images/tile-2.jpg");
}
div#links .tile-3 {
    background-image: url("images/tile-3.jpg");
}
div#links .tile-4 {
    background-image: url("images/tile-4.jpg");
}
div#links .tile-5 {
    background-image: url("images/tile-5.jpg");
}
.image-overlay-lines {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0.1;
    background-repeat: repeat;
    background-image: url("./images/black-horizontal-lines.png");
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
